<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="button" value="-1" />
    <add key="guid" value="00000000-0000-0000-0000-000000000000" />
    <add key="name" value="" />
    <add key="type" value="-1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>